################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/codeCulminating/.vs/codeCulminating/v17/.suo
/codeCulminating/.vs/codeCulminating/v17/.suo
